.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 0 40px;
}

.nav-profile {
    width: 3%;
    clip-path: circle();
}