.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 146, 29);
    padding: 0 40px;
}

.sub-header {
    font-size: 50%;
    color: white;
    border-bottom: 3px solid black;
}

.nav-profile {
    width: 3%;
    clip-path: circle();
}